<?xml version="1.0"?>
<model>
    <name>Box</name>

    <version>1.0</version>
    <sdf version='1.7'>small_box.urdf</sdf>

    <author>
        <name>Mohamed Elobaid</name>
        <email>mohamed.elobaid@iit.t</email>
    </author>

    <description>
        A small box of 10 kg mass used in the experiment of the centroidal mpc with contact forces parametrization
    </description>
</model>
